{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <h1>This came from the template:
                    <span>
                        {{index .StringMap "test"}}
                    </span>
                </h1>
            </div>
        </div>
    </div>

{{end}}